body{
	
	background-color:#ffae42;
	margin:0px;
	font-family: 'san serif';
    width:100%;
    min-width:1000px;
    height:auto;
}
.mainheader{
	font-family:'san serif';
	font-size: 2vw;
	position:fixed;
	margin-top:0px;
	text-align:center;
	color:white;
	background-color:black;
	width:100%;
}

.tagline{
	display:inline-block;
	position:absolute;
	margin-top:15%;
	margin-left:8%;
	font-size:1.5vw;
	text-align:center;
}
.cont{	
	width: 500px;
	display:inline-block;
	background-image: linear-gradient(#ffae42, #ff4500);
	box-shadow: 0 5px 15px rgb(0,0,0);
	height:75%;
	width:40%;
	position:absolute;
	margin-left:40%;
	margin-top:7%;
	border-radius: 20px;
	border: 1px solid;
	border-color: black;

}
.contleft{
	display:inline-block;
	background-image: linear-gradient(#ffae42, #ff4500);
	box-shadow: 0 5px 15px rgb(0,0,0);
	height:75%;
	width:30%;
	position:absolute;
	margin-left:20%;
	margin-top:7%;
	border-radius: 20px 20px;
}
.logo{
	text-align:center;
	position:absolute;
	margin-left:13%;
	margin-top:35%;
	height:35%;
	width:40%;
}

.signinlbl{
	font-family:arial;
	color:black;
	position:absolute;
	font-size:3vw;
	margin-top:12%;
	margin-left:40%;
}
.usertxt{
	
	background-color:#DCDCDC;
	display:inline-block;
	position:absolute;
	font-size:1.5em;
	margin-top:30%;
	margin-left:27%;
	width:50%;
    height:auto;
	border-radius: 20px;
	border: 1px solid;
	padding:5px;
	
}
.passtxt{
	
	background-color:#DCDCDC;
	display:inline-block;
	position:absolute;
	font-size:1.5em;
	margin-top:41%;
	margin-left:27%;
	width:50%;
    height:auto;
	border-radius: 20px;
	border: 1px solid;
	padding:5px;
}
.logbut{
	border:none;
	background-color:orange;
	color:black;
	font-size:2vw;
	margin-top:52%;
	margin-left:27%;
	position:absolute;
	width:50%;
    height:auto;
	border-radius: 20px;
	border:none;
	padding:5px;
}
.logbut:hover {
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 5px 15px rgba(255,165,0, .5);
}
.lblforgot{
	
	color:black;
	position:absolute;
	font-size:1vw;
	margin-top:70%;
	margin-left:10%;
}

.terms {
	color:black;
	position:absolute;
	font-size:1vw;
	margin-top: 71%;
	margin-left:10%;
}

